*.class
*.java~


# IntelliJ IDEA
.idea/
*.iml

# Other IDE
.classpath
.project
.settings


# Package Files #
*.jar
target/


# Properties files
*.properties
.DS_Store


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
